.input {
  width: 70%;
  height: 40px;
  margin: 20px;
  text-align: center;
  font-size: large;
}
.inputError {
  border: var(--input-red) 2px solid;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
